body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

#search {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

#games {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.game {
  background: #222;
  padding: 15px;
  cursor: pointer;
  border-radius: 6px;
}

.game:hover {
  background: #333;
}

#player {
  width: 100%;
  height: 500px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100vh;
  background: #000;
  display: none;
  flex-direction: column;
  z-index: 10000;
}

#sidebar button {
  background: none;
  border: none;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
}

#sidebar button:hover {
  background: #222;
}
